version: "3.9"

services:
  web:
    build: .
    container_name: ems_flask_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6.0
    container_name: ems_mongodb
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: